<div class="widget hidden-xs">
    <div class="title">{{ 'include.recent_tweets'|trans }}</div>
    <a id="twitter" class="twitter-timeline" data-tweet-limit="4" data-chrome="noheader nofooter noborders noscrollbar" href="https://twitter.com/TournoisLegend">{{ 'include.tweets_by'|trans }}</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>