<h3>Personal data</h3><hr>

<p>Tournois Legend gather informations (username, e-mail address, ip address) when u register as a member. These informations will be saved in our secure database.</p>

<h3>Accounts</h3><hr>

<p>One account per person.</p>

<h3>Rules</h3><hr>

<p>Our website is a platform for tournaments. As in every community, there are several rules you'll have to follow so everything works smoothly between you and us. Rules are the following:<br><br></p>

1 - Be polite.<br><br>
2 - Insults are forbidden. Any breach in rules will be punished by a ban from one day to a week depending on how serious the breach was.<br><br>
3 - Please write correctly.<br><br>
4 - Racism, porn, computer piracy and defamation are forbidden. Any content about these will be erase and its author banned (same goes for pictures).<br><br>
5 - Moderators and administrators are the only judges. They will be the one to decide if you deserve, or not, a ban. Please mark their words if you don't want to be punished.<br><br>
6 - Having more than one account is strictly forbidden. If you get caught, every single of ur accounts will be erased and you will be definitively be banned from our website. This is one of the most important rule.<br><br>
7 - Automatic gathering of informations on our website is forbidden.<br><br>
8 - Ads are allowed if and only if there is an agreement with the administrators. Otherwise, it is forbidden.<br><br>
9 - Complaints are allowed as long as they are well presented. Moderators and administrators will always be the last ones to decided whether are not these are acceptable.   <br><br>
10 - If you need help from us, please contact us using private messages.<br><br>
11 - Spams are strictly forbidden and punishable by a day ban.<br><br>