<h3>Données personnelles</h3><hr>

<p>Tournois Legend recueille des informations (pseudo, e-mail, adresse ip) lors de votre enregistrement en tant que membre du site. Ces informations sont stockées sur une base de données cryptée et sécurisée.</p>

<h3>Les comptes</h3><hr>

<p>Un seul compte par personne est autorisé.</p>

<h3>Règlement</h3><hr>

<p>Tournois Legend est un site de tournois. Comme dans toute communauté, il y a certaines règles à respecter afin que tout le monde puisse bien s'entendre. Vous trouverez les règles ci-dessous. Si vous voulez devenir membre du site (et le rester !), vous devez les respecter. C'est tout ce qu'on vous demande :)</p><br>

1 - Vous devez respecter des règles élémentaires de politesse.<br><br>
2 - Les insultes sont interdites et punies par un ban de quelques jours. <br><br>
3 - Vous devez écrire avec une orthographe convenable. Respectez ceux qui liront vos commentaires/messages, faites l'effort de les écrire correctement.<br><br>
4 - Les sujets à caractère illégal sont interdits et seront supprimés. Ces sujets incluent, sans s'y limiter, la pornographie, le racisme, le piratage informatique sous toutes ses formes, ou encore la diffamation. Les modérateurs du site se réservent le droit de supprimer tout message qu'ils jugent illégal. <br><br>
5 - Les modérateurs et les administrateurs sont seuls juges. Ce sont eux qui décident des commentaires/MP/tournois qui doivent être fermés ou supprimés. Vous devez respecter leurs remarques, sans quoi vous pourriez être banni du site selon la gravité de votre faute. <br><br>
6 - Il est strictement interdit de se créer plusieurs comptes. Si nous vous surprenons à utiliser plusieurs comptes pour vous-même, nous ferons tout notre possible pour vous bannir définitivement et totalement du site. C'est une faute extrêmement grave.<br><br>
7 - Toute collecte automatisée des données présentes sur le site est strictement interdite. <br><br>
8 - Toute publicité, pour son site web par exemple, est interdite, sauf en cas d'accord préalable donné par un modérateur si le sujet est suffisamment bien présenté. <br><br>
9 - Il est interdit de placer des images ou textes pouvant choquer ou remettre en cause la décision des modérateurs dans votre équipe, avatars ou tout autre endroit sur le site. Les modérateurs se réservent le droit de supprimer ces éléments sans préavis.<br><br>
10 - Utilisez la messagerie privée du site si vous avez besoin de communiquer avec l'équipe. <br><br>
11 - Toute forme de publicité ou de spam (message non sollicité) envoyé via la messagerie privée du site est rigoureusement interdite et sera passible de sanctions.